<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">


    <http auto-config="true">
<!--        <intercept-url pattern="/welcome*" access="ROLE_USER" />
        <intercept-url pattern="/post/add*" access="ROLE_USER" />
        <intercept-url pattern="/feed/add*" access="ROLE_USER" />-->
        <intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
        <intercept-url pattern="/user/**" access="ROLE_USER" />
<!--        <form-login login-page="/login" default-target-url="/welcome"
                    authentication-failure-url="/loginfailed" />-->
        <openid-login login-page="/login" default-target-url="/ad" authentication-failure-url="/loginfailed" >
            <attribute-exchange>
                <openid-attribute name="axContactEmail" type="http://axschema.org/contact/email" required="true"/>
                <openid-attribute name="oiContactEmail" type="http://schema.openid.net/contact/email" required="true"/>
                <openid-attribute name="axNamePersonFullname" type="http://axschema.org/namePerson" required="true"/>
                <openid-attribute name="axNamePersonFriendlyName" type="http://axschema.org/namePerson/friendly" required="true"/>
                <openid-attribute name="axNamePersonFirstName" type="http://axschema.org/namePerson/first" required="true"/>
                <openid-attribute name="axNamePersonLastName" type="http://axschema.org/namePerson/last" required="true"/>
            </attribute-exchange>
        </openid-login>
        <logout invalidate-session="true" logout-success-url="/login" logout-url="/logout" />
    </http>

    <!-- 123456 -->
    <authentication-manager>
        <authentication-provider>
            <!--<password-encoder hash="sha" />-->
            <user-service>
                <!--<user name="admin" password="7c4a8d09ca3762af61e59520943dc26494f8941b" authorities="ROLE_USER" />-->
                <user name="https://www.google.com/accounts/o8/id?id=AItOawnkiNWFgvRrzH3Xc2lRWaEx1QhTkmenpi8" password="" authorities="ROLE_USER, ROLE_ADMIN" />
                <user name="https://www.google.com/accounts/o8/id?id=AItOawnfjykv7UXHcLQp1Ux6n11_n4UdkDBapRo" password="" authorities="ROLE_USER, ROLE_ADMIN" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>